* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Underdog', sans-serif;
}

body {
    background-color: #121212;
    color: #E0E0E0;
    text-align: center;
    padding: 20px;
}

header {
    margin-bottom: 40px;
}

#nickname {
    font-size: 48px;
    color: #BB86FC;
    font-weight: bold;
}

.description {
    margin-bottom: 30px;
    font-size: 18px;
    color: #A0A0A0;
}

.links .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #03DAC6;
    color: #121212;
    text-decoration: none;
    border-radius: 5px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.links .button:hover {
    background-color: #00BFA5;
}

.projects {
    margin-top: 40px;
}

.projects h2 {
    margin-bottom: 20px;
    font-size: 32px;
    color: #E0E0E0;
}

.project {
    margin-bottom: 20px;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #BB86FC;
}

.project .button {
    background-color: #03DAC6;
}

.project .button:hover {
    background-color: #00BFA5;
}

