:root {
    --bg-color: #121212; /* Темный фон */
    --text-color: #e0e0e0; /* Светлый текст */
    --link-color: #bb86fc; /* Цвет ссылок */
    --hover-link-color: #6200ee; /* Цвет при наведении */
    --modal-bg-color: rgba(33, 33, 33, 0.9); /* Полупрозрачный фон модальных окон */
    --terminal-bg-color: rgba(30, 30, 30, 0.8); /* Полупрозрачный фон терминала */
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 32px;
}

nav {
    position: relative;
    margin-right: 32px;
}

.hamburger {
    font-size: 30px;
    cursor: pointer;
}

.nav-links {
    list-style-type: none;
    display: none; /* Скрыто по умолчанию */
}

.nav-links li {
    display: inline-block;
    margin-left: 20px;
}

.nav-links a {
    color: var(--link-color);
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--hover-link-color);
}

.terminal {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--terminal-bg-color);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    width: 80%;
    max-width: 600px;
    opacity: 0; /* Начальная прозрачность для анимации */
    animation: fadeIn 1s forwards; /* Анимация появления */
}

.cursor {
    display: inline-block;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px); /* Начальное положение ниже */
    }
    to {
        opacity: 1;
        transform: translateY(0); /* Конечное положение */
    }
}

/* Модальные окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8); /* Полупрозрачный черный фон */
}

.modal-content {
    background-color: var(--modal-bg-color);
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    opacity: 0; /* Начальная прозрачность для анимации */
    animation: modalFadeIn 0.5s forwards; /* Анимация появления */
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: scale(0.9); /* Начальный размер немного меньше */
    }
    to {
        opacity: 1;
        transform: scale(1); /* Конечный размер */
    }
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
}

.close:hover,
.close:focus {
    color: white; /* Цвет при наведении на кнопку закрытия */
}

#cat-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

#cat-image img {
    max-width: 80%;
    max-height: 80%;
}